<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ci_key</key>
	<string>EXAMPLE</string>
	<key>version</key>
	<string>1.0.1</string>
	<key>min_version</key>
	<string>1.0</string>
	<key>after_uploaded_date</key>
	<string>2021-02-01T21:02:01+01:00</string>
</dict>
</plist>
